*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-color: #2a5a5c;
	font-family: 'Roboto', sans serif;
	font-weight: 300;

	font-size: 32px;
	color: white; 
}

header{
	text-align: center;
	padding: 30px;
}

h1{
	font-size: 100px;
	font-weight: 800;
}

.page{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.search{
	width: 30%;
	border-bottom: 2px solid white;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 30px;
	margin-top: 90px;
	transition: width 1s;
}

.search:hover{
	width: 40%;
}

.form{
	width: 100%;
	display: flex;
	justify-content: flex-start;
}

.searchbar{
	border: none;
	/*border-bottom: 2px solid white;*/
	padding-left: 15px;
	background-color: rgba(255, 255, 255, 0);
	color: white;
	width: 420px;
	height: 80px;
	font-size: 36px;
}



.searchbar::-webkit-input-placeholder{
	color: rgba(255, 255, 255, 0.3);

}

.searchbar:-ms-input-placeholder{
	color: rgba(255, 255, 255, 0.3);
}

.searchbar::-moz-placeholder{
	color: rgba(255, 255, 255, 0.3);
}

.searchbar:-moz-placeholder{
	color: rgba(255, 255, 255, 0.3);
}

.searchbar:focus{
	outline: none;
	color: white;
}

.searchbar:focus::-webkit-input-placeholder{
	color: rgba(255, 255, 255, 0.5);

}

.searchbar:focus:-ms-input-placeholder{
	color: rgba(255, 255, 255, 0.5);
}

.searchbar:focus::-moz-placeholder{
	color: rgba(255, 255, 255, 0.5);
}

.searchbar:focus:-moz-placeholder{
	color: rgba(255, 255, 255, 0.6);
}


.button{
	width: 60px;
	height: 60px;
	padding: 10px;
	border: none;
	background-color: transparent;
	border-radius: 100% ;
	transform: scale(0.6);
}

button:focus{
	outline: none;
}

.button:hover{
	background-color: rgba(0, 0, 0, 0.1)
}

.geo{
	margin: 10px;
	margin-bottom: 23px; 
}

.isearch{
	width: 100%;
	height: 100%;
	border: 6px solid white;
	border-radius: 100%;
	transform: scale(0.9);
	position: relative;
	top: -4px;
	left: -4px;
	
}

.isearch::after{
	content: "";
	position: absolute;
	border-radius: 8px;
	background-color: white;
	width: 30%;
	height: 70%;
	transform: rotate(-45deg);
	top: 23px;
	left: 29px;
}

.igeo{
	width: 100%;
	height: 100%;
	position: relative;
	border: 10px solid transparent;
	border-radius: 100%;
	transform: scale(0.7);
	box-shadow: 0 0 0 8px rgba(255, 255, 255, 1), inset 0 0 0 15px rgba(255, 255, 255, 1);
}

.igeo::before{
	content: "";
	position: absolute;
	border-radius: 7px;
	border-left: 12px solid white;
	border-right: 12px solid white;
	width: 53px;
	height: 8px;
	top: 7px;
	left: -28.5px;
}

.igeo::after{
	content: "";
	position: absolute;
	border-radius: 5px;
	border-top: 12px solid white;
	border-bottom: 12px solid white;
	width: 8px;
	height: 52px;
	top: -28px;
	left: 6.5px;
}

.content{
	width: 60%;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.cityName{
	width: 100%;
	font-size: 60px;
	font-weight: 700;
	margin: 40px;
	margin-bottom: 10px;
	padding-bottom: 20px;
	border-bottom: 2px solid white
}

.title{
	text-align: left;
}

.weather{
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.infowrapper{
	width: 70%;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-wrap: wrap;
}

.info{
	margin-bottom: 20px;
}

.element{
	font-weight: 100;
	font-size: 22px;
	padding: 5px;
	line-height: 1.4em;
}

.wrapper{
	display: flex;
	justify-content: flex-start;
}

.icon{
	width: 150px;
	height: 150px;
	position: relative;
	display: inline-block;
}

.sun{
	width: 100%;
	height: 100%;
	background-color: #ff9100;
	border-radius: 60%;
	z-index: 0;
	position: absolute;
	transform: scale(0.9);
	animation: shine 8s linear infinite;

}

.night{
	background-color: #3d4e5e;
}

.cloud{
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: white;
	border-radius: 100%;
	transform: scale(0.6);
	left: -35px;
	z-index: 1;
}

.cloud::before{
	content: "";
	position: absolute;
	width: 160%;
	height: 50%;
	border-radius: 200px;
	top: 75.2px;
	left: 40px;
	background-color: white;
}

.cloud::after{
	content: "";
	position: absolute;
	width: 110%;
	height: 110%;
	border-radius: 100%;
	background-color: white;
	top: -20px;
	left: 80px;
}

.cloud:nth-child(1){
	z-index: 0;
	transform: scale(0.3) translate(200%,-3.5em);
	opacity: 0.3;
	animation: cloud 5s linear infinite;
}

.sun + .cloud {
  margin-left: -1em;
  margin-top: 1em;
}

.raining,
.snow,
.thunder{
	position: absolute;
	z-index: 0;
	width: 100%;
	height: 100%;
	top: 50px;
	left: -10px;
}

.rain{
	width: 100%;
	height: 100%;
	background-color: grey;
	position: absolute;
	border-radius: 100% 0 60% 50% / 60% 0 100% 50%;
	transform: scale(0.12) rotate(-28deg) translate(-3em,-8em);
	box-shadow: 10em 0 0 0.7em grey;
	animation: rain 3s ease infinite;
}

.rain:nth-child(2){
	top: 30px;
	left: 12px;
	animation: rain 2s linear infinite reverse;
}

.raining + .cloud,
.snow + .cloud,
.thunder + .cloud{
	transform: scale(0.5);
	top: -25px; 
}



.flake::before,
.flake::after{
	content: "\2744";
	width: 100%;
	height: 100%;
	color: grey; 
	position: absolute;
	left: 80px;
	top: 20px;
	animation: snow 4s linear infinite reverse;

}

.flake:after {
 	left: 40px;
 	top: 40px;
 	font-size: 0.9em;
 	animation: snow 2s ease infinite;
}
.flake:nth-child(2):before {
	left: 30px;
	top: 70px;
	font-size: 1.25em;
 	animation: snow 2s linear infinite;
}
.flake:nth-child(2):after {
	left: 70px;
	top: 50px;
	font-size: 1.4em;
	animation: snow 3s ease infinite reverse;
}

.bolt::before,
.bolt::after{
	content: "\1F5F2";
	width: 100%;
	height: 100%;
	transform: rotate(-25deg);
	font-size: 1.5em;
	font-weight: 1000;
	left: 40px;
	top: 10px;
	color: grey;
	position: absolute;
	animation: lightning 2s linear infinite;

}

.bolt::after{
	left: 80px;
	top: -10px;
	animation: lightning 1.5s linear infinite;
}



.temperature{
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-size: 50px;
	font-weight: 400;
	margin-left: 25px;
}

.degrees{
	font-size: 100px;
	padding: 10px;
	margin: 10px;
}

.unit{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.u{
	color: rgba(255, 255, 255, 0.3);
	transition: 1s;
}

.u:hover{
	color: rgba(255, 255, 255, 0.8);
	cursor: default;
}

.active{
	color: white !important;
}

.winhum{
	width: 30%;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 40px;
}

@keyframes shine{
	0% {box-shadow: box-shadow: 0 0 0 5px rgba(252, 219, 157, 0.3);}
	50%{box-shadow: 0 0 0 10px rgba(252, 219, 157, 0.3);}
	100%{box-shadow: box-shadow: 0 0 0 5px rgba(252, 219, 157, 0.3);}
}

@keyframes cloud{
	0%{opacity: 0;}
	50%{opacity: 0.3;}
	100%{
		opacity: 0;
		transform: scale(0.35) translate(-100%, -3.5em);
	}

}

@keyframes rain{
	0%{
		background-color: rgba(168, 168, 168, 0.5);
		box-shadow: 10em 0 0 1em rgba(113, 186, 222, 1);
	}
	25%{
		background-color: rgba(113, 186, 222, 1);
		box-shadow: 10em 0 0 1em rgba(168, 168, 168, 0.5);
	}
	50%{
		background-color: rgba(113, 186, 222, 1);
		box-shadow: 10em 0 0 1em rgba(168, 168, 168, 0.5);
	}
	100%{
		background-color: rgba(168, 168, 168, 0.5);
		box-shadow: 10em 0 0 1em rgba(113, 186, 222, 1);
	}
}

@keyframes snow {
	0% { color: rgba(168, 168, 168, 0.5);}
	25% { color: rgba(113, 186, 222, 1);}
	50% { color: rgba(113, 186, 222, 1);}
	100% { color: rgba(168, 168, 168, 0.5); }
}

@keyframes lightning {
  45% { color: rgba(168, 168, 168, 0.5);}
  50% { color: rgba(113, 186, 222, 1);}
  55% { color: rgba(168, 168, 168, 0.5);}
}


